body {
	display: flex;
	min-height: 100dvh;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 35px;
	width: 55dvw;
	flex-grow: 1;
}

.header {
	width: 100dvw;
	height: 20dvh;
	background-color: black;
	background-size: cover;
	background-position: center;
	align-self: top;
}

img {
	object-fit: cover;
}

.buttons-container {
	display: flex;
	gap: 25px;
}

.buttons-container div {
	display: flex;
	flex-basis: 33%;
	flex-grow: 1;
	justify-content: center;
}

.results-container {
	border: solid grey;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.results-container div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.results-container span {
	margin: 12px;
}

button {
	padding: 15px 25px;
	width: 100px;
	height: 100px;
	border: none;
	cursor: pointer;
}

#rock {
	background-image: url("/assets/rock.png");
	background-size: cover;
	background-color: transparent;
	background-position: center;
}

#paper {
	background-image: url("/assets/paper.png");
	background-size: cover;
	background-color: transparent;
	background-position: center;
}

#scissors {
	background-image: url("/assets/scissors.png");
	background-size: cover;
	background-color: transparent;
	background-position: center;
}
