body {
	display: flex;
	min-height: 100dvh;
	margin: 0;
	background-color: #64e9ee;
	color: #093a3e;
}

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20dvh;
	width: 55dvw;
	flex-grow: 1;
}

.header {
	width: 100dvw;
	height: 20dvh;
	background-color: #97c8eb;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("assets/RockPaperScissorsLogo.png");
}

img {
	object-fit: cover;
}

.buttons-container {
	display: flex;
	gap: 25px;
}

.buttons-container div {
	display: flex;
	flex-basis: 33%;
	flex-grow: 1;
	justify-content: center;
}

.results-container {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #97c8eb;
	font-size: 1.5rem;
}

.results-container div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.results-container span {
	margin: 12px;
}

button {
	box-sizing: border-box;
	padding: 15px;
	background-origin: content-box;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	border: none;
	cursor: pointer;
	background-color: #3aafb9;
	border-radius: 8px;
}

#rock {
	background-image: url("/assets/rock.png");
	background-size: contain;
	background-position: center;
}

#paper {
	background-image: url("/assets/paper.png");
	background-size: contain;
	background-position: center;
}

#scissors {
	background-image: url("/assets/scissors.png");
	background-size: contain;
	background-position: center;
}
